[http]
        proxy = http://KON8007:Madehim2besin@cdcproxy.kroger.com:3128
[https]
	proxy = http://KON8007:Madehim2besin@cdcproxy.kroger.com:3128
[color]
	ui = auto
[core]
	autocrlf = input
	safecrlf = true
	editor = vim
[push]
	default = upstream
[merg]
	conflictstyle = diff3
[user]
	email = dscottwiggins@gmail.com
	name = Scott Wiggins
[alias]
        amend = commit --amend --reuse-message=HEAD
	co = checkout
	ci = commit
	st = status
	br = branch
	pr = pull --rebase
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all

